<ion-header>
  <ion-toolbar>
    <ion-title>
      <button (click)="this._modal.dismiss()" style="padding: 4px; border: none;background: transparent;border-radius: 100px;border: 1px solid #dcdcdc;">
        <ion-icon name="arrow-back" style="font-size: 18px"></ion-icon>
      </button>
      <span>&nbsp; Dispositivo &bull; Canais</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button *ngFor="let d of canais" (click)="sendAction(d)" style="border: 1px solid #dcdcdc; width: 100%; border-radius: 4px; padding: 10px; display: table; margin: auto; margin-bottom: 5px;" [ngStyle]="{'backgroundColor': (d.disc_status == 0 ? 'transparent':'#4286f4')}">
    <span style="font-weight: 500" [ngStyle]="{'color': (d.disc_status == 0 ? '#000':'#fff')}">{{d.disc_nome}}</span>
  </button>
</ion-content>