<ion-content padding>
  <ion-card>

    <ion-card-header>
      Entrar
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-label fixed>
            <ion-icon name="contact"></ion-icon>
          </ion-label>
          <ion-input type="text" value="" [(ngModel)]="usuario"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed>
            <ion-icon name="key"></ion-icon>
          </ion-label>
          <ion-input type="password" [(ngModel)]="senha"></ion-input>
        </ion-item>
      
      </ion-list>
      <div padding>
        <button (click)="login(this.usuario, this.senha);" style="width: 100%; border: none; background: transparent; border-radius: 4px; background-color: #4286f4; padding: 10px; display: table; margin: auto;">
          <span style="color: #fff; font-weight: 500">Entrar</span>
        </button>
      </div>
    </ion-card-content>
  
  </ion-card>
</ion-content>
