<ion-header>
  <ion-toolbar>
    <ion-title>
      Dispositivos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seus dispositivos</ion-card-title>
      <ion-card-subtitle>Toque em um dispositivo para ver as opções</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <button *ngFor="let d of dispositivos" (click)="openDisp(d)" style="width: 100%; border: none; background: transparent; border-radius: 4px; background-color: #4286f4; padding: 10px; display: table; margin: auto;">
        <span style="color: #fff; font-weight: 500">{{d.dis_nome}}</span>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
